<!DOCTYPE html>
<html>

<head>
    <title>Cloudshare</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="container mx-auto flex-col items-center">
        <div class="px-5 py-5 font-mono text-sm font-bold text-gray-500">cloudshare</div>
        <div class="px-5 divide-y-2 divide-gray-100">
            {{ range $link := .Links }}
            <div class="py-6 flex space-x-4">
                <div class="flex-shrink-0 flex flex-col">
                    {{if $link.IsVideo }}
                    <video class="w-16 h-16  rounded-md border" src="{{ $link.Url }}" controls>
                        Your browser does not support the video tag.
                    </video>
                    {{else if $link.IsImage }}
                    <img class="object-cover w-16 h-16 rounded-md border" src="{{ $link.Url }}">
                    {{else}}
                    <img class="object-cover w-16 h-16 rounded-md border" src="https://pub.4nz.io/file.png">
                    {{end}}
                </div>
                <div class="flex flex-col justify-between">
                    <a id="link" target="_blank" class="mb-2 text-blue-600" href="{{ $link.Url }}">{{ $link.Url }}</a>
                    <div class="space-x-2">
                        <form class="inline-block" action="/delete" method="post">
                            <input type="text" class="hidden" name="url" type="hidden" value="{{ $link.Url }}">
                            <button type="submit"
                                class="inline-block rounded border border-red-600 px-4 py-1 text-sm font-medium text-red-600 hover:bg-red-600 hover:text-white focus:outline-none active:bg-red-500">
                                Delete
                            </button>
                        </form>
                        <button id="copy-btn" data-url="{{ $link.Url }}"
                            class="inline-block rounded border border-gray-600 px-4 py-1 text-sm font-medium text-gray-600 hover:bg-gray-600 hover:text-white focus:outline-none active:bg-gray-500"
                            onclick="copyToClipboard(this)">
                            Copy link
                        </button>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

    <script>
        function copyToClipboard(e) {
            navigator.clipboard.writeText(e.dataset.url).then(function () {
                e.textContent = "Copied!"
            });
        }
    </script>
</body>